<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Подготовка-данных" data-toc-modified-id="Подготовка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Подготовка данных</a></span><ul class="toc-item"><li><span><a href="#-Комментарий-ревьюера-v1" data-toc-modified-id="-Комментарий-ревьюера-v1-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span> Комментарий ревьюера v1</a></span></li><li><span><a href="#Вывод:" data-toc-modified-id="Вывод:-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Вывод:</a></span></li></ul></li><li><span><a href="#Исследование-задачи" data-toc-modified-id="Исследование-задачи-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Исследование задачи</a></span><ul class="toc-item"><li><span><a href="#-Комментарий-ревьюера-v1" data-toc-modified-id="-Комментарий-ревьюера-v1-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span> Комментарий ревьюера v1</a></span></li><li><span><a href="#-Комментарий-ревьюера-v1" data-toc-modified-id="-Комментарий-ревьюера-v1-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span> Комментарий ревьюера v1</a></span></li><li><span><a href="#-Комментарий-ревьюера-v1" data-toc-modified-id="-Комментарий-ревьюера-v1-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span> Комментарий ревьюера v1</a></span></li><li><span><a href="#Вывод:" data-toc-modified-id="Вывод:-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Вывод:</a></span></li></ul></li><li><span><a href="#Борьба-с-дисбалансом" data-toc-modified-id="Борьба-с-дисбалансом-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Борьба с дисбалансом</a></span><ul class="toc-item"><li><span><a href="#-Комментарий-ревьюера-v1" data-toc-modified-id="-Комментарий-ревьюера-v1-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span> Комментарий ревьюера v1</a></span></li><li><span><a href="#-Комментарий-ревьюера-v1" data-toc-modified-id="-Комментарий-ревьюера-v1-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span> Комментарий ревьюера v1</a></span></li><li><span><a href="#Вывод:" data-toc-modified-id="Вывод:-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Вывод:</a></span></li></ul></li><li><span><a href="#Тестирование-модели" data-toc-modified-id="Тестирование-модели-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Тестирование модели</a></span><ul class="toc-item"><li><span><a href="#Вывод:" data-toc-modified-id="Вывод:-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Вывод:</a></span></li></ul></li><li><span><a href="#Вывод:" data-toc-modified-id="Вывод:-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Вывод:</a></span><ul class="toc-item"><li><span><a href="#-Комментарий-ревьюера-v1" data-toc-modified-id="-Комментарий-ревьюера-v1-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span> Комментарий ревьюера v1</a></span></li></ul></li><li><span><a href="#Чек-лист-готовности-проекта" data-toc-modified-id="Чек-лист-готовности-проекта-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Чек-лист готовности проекта</a></span></li><li><span><a href="#-Итоговый-комментарий-v1" data-toc-modified-id="-Итоговый-комментарий-v1-7"><span class="toc-item-num">7&nbsp;&nbsp;</span> Итоговый комментарий v1</a></span></li></ul></div>

# Отток клиентов

Из «Бета-Банка» стали уходить клиенты. Каждый месяц. Немного, но заметно. Банковские маркетологи посчитали: сохранять текущих клиентов дешевле, чем привлекать новых.

Нужно спрогнозировать, уйдёт клиент из банка в ближайшее время или нет. Вам предоставлены исторические данные о поведении клиентов и расторжении договоров с банком. 

Постройте модель с предельно большим значением *F1*-меры. Чтобы сдать проект успешно, нужно довести метрику до 0.59. Проверьте *F1*-меру на тестовой выборке самостоятельно.

Дополнительно измеряйте *AUC-ROC*, сравнивайте её значение с *F1*-мерой.

Источник данных: [https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling](https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling)

# Описание данных

**Признаки**
- RowNumber — индекс строки в данных
- CustomerId — уникальный идентификатор клиента
- Surname — фамилия
- CreditScore — кредитный рейтинг
- Geography — страна проживания
- Gender — пол
- Age — возраст
- Tenure — сколько лет человек является клиентом банка
- Balance — баланс на счёте
- NumOfProducts — количество продуктов банка, используемых клиентом
- HasCrCard — наличие кредитной карты
- IsActiveMember — активность клиента
- EstimatedSalary — предполагаемая зарплата

**Целевой признак**
- Exited — факт ухода клиента

## Подготовка данных

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.preprocessing import OrdinalEncoder, StandardScaler


from sklearn.metrics import f1_score, roc_auc_score, accuracy_score, mean_absolute_error, roc_curve
from sklearn.utils import shuffle

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [16]:
try:
    df = pd.read_csv(r'/datasets/Churn.csv')
except:
    df = pd.read_csv(r'C:\Users\vadim.pilipenko\Desktop\личное\Практикум\ML\прочее\Churn.csv')
display(df.info(), df.head(10), df.tail(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           9091 non-null   float64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

None

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1.0,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2.0,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8.0,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7.0,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4.0,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4.0,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2.0,134603.88,1,1,1,71725.73,0

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3.0,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4.0,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2.0,0.00,1,1,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7.0,155060.41,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2.0,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5.0,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10.0,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7.0,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3.0,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,NaN,130142.79,1,1,0,38190.78,0

In [3]:
df = df.drop(columns=['RowNumber','CustomerId','Surname'],axis=1)

df.rename(columns={'CreditScore' : 'Credit_Score', 'NumOfProducts' : 'Num_Of_Products','HasCrCard' : 'Has_Cr_Card', 'IsActiveMember' : 'Is_Active_Member', 'EstimatedSalary':'Estimated_Salary'}, inplace = True) 
df.columns = df.columns.str.lower()
print(f'''{df.isna().sum()}
''')
df['tenure'] = df['tenure'].fillna(df['tenure'].median())
print(f'''{df.isna().sum()} 

Количество дубликатов {df.duplicated().sum()}''')

credit_score          0
geography             0
gender                0
age                   0
tenure              909
balance               0
num_of_products       0
has_cr_card           0
is_active_member      0
estimated_salary      0
exited                0
dtype: int64

credit_score        0
geography           0
gender              0
age                 0
tenure              0
balance             0
num_of_products     0
has_cr_card         0
is_active_member    0
estimated_salary    0
exited              0
dtype: int64

Количество дубликатов 0

### Вывод:
Данные достаточно полные, заменили пропуски на медиану, для удобства поработали с названиями столбцов, удалили лишние столбцы с личными данными, которые явно не могут влиять на вероятность ухода из банка.

## Исследование задачи

В данных есть несколько столбцов с категориальными данными в виде строк, преобразуем сет с помощью порядкового кодирования

In [6]:
df_ohe = pd.get_dummies(df, drop_first=True)

target = df_ohe['exited']
features = df_ohe.drop('exited', axis=1)
features_train, features_vt, target_train, target_vt = train_test_split(features, target, test_size=0.4, random_state=12345)
features_valid, features_test, target_valid, target_test = train_test_split(features, target, test_size=0.5, random_state=12345)

display(df_ohe.head(20))

,credit_score,age,tenure,balance,num_of_products,has_cr_card,is_active_member,estimated_salary,exited,geography_Germany,geography_Spain,gender_Male
0,619,42,2.0,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1.0,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8.0,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1.0,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2.0,125510.82,1,1,1,79084.10,0,0,1,0
5,645,44,8.0,113755.78,2,1,0,149756.71,1,0,1,1
6,822,50,7.0,0.00,2,1,1,10062.80,0,0,0,1
7,376,29,4.0,115046.74,4,1,0,119346.88,1,1,0,0
8,501,44,4.0,142051.07,2,0,1,74940.50,0,0,0,1
9,684,27,2.0,134603.88,1,1,1,71725.73,0,0,0,1
10,528,31,6.0,102016.72,2,0,0,80181.12,0,0,0,1
11,497,24,3.0,0.00,2,1,0,76390.01,0,0,1,1
12,476,34,10.0,0.00,2,1,0,26260.98,0,0,0,0
13,549,25,5.0,0.00,2,0,0,190857.79,0,0,0,0
14,635,35,7.0,0.00,2,1,1,65951.65,0,0,1,0
15,616,45,3.0,143129.41,2,0,1,64327.26,0,1,0,1
16,653,58,1.0,132602.88,1,1,0,5097.67,1,1,0,1
17,549,24,9.0,0.00,2,1,1,14406.41,0,0,1,0
18,587,45,6.0,0.00,1,0,0,158684.81,0,0,1,1
19,726,24,6.0,0.00,2,1,1,54724.03,0,0,0,0

In [7]:
best_tree_model = None # Подберем оптимальную модель решающего древа
t_best_result = 0
optimal_depth = 0
for i in range(1,13):
    t_model = DecisionTreeClassifier(random_state=12345, max_depth=i) # цикл перебора параметра max_depth
    t_model.fit(features_train, target_train)
    result = t_model.score(features_valid,target_valid)# значение метрики Accuracy на валидационной выборке
    if result > t_best_result:
        t_best_result = result
        best_tree_model = t_model
        optimal_depth = i
print(f'Accuracy наилучшей модели решающего дерева на валидационной выборке: = {t_best_result}, глубина древа:= {optimal_depth}')

Accuracy наилучшей модели решающего дерева на валидационной выборке: = 0.942, глубина древа:= 12

In [8]:
best_forest_model = None # Подберем оптимальную модель случайного леса
f_best_result = 0
best_est = 0
best_depth = 0
for est in range(20, 100, 1):
        f_model = RandomForestClassifier(random_state=12345, n_estimators=est, max_depth=optimal_depth) # циклы перебора параметров n_estimators, max_depth
        f_model.fit(features_train,target_train) # обучение модель на тренировочной выборке
        result = f_model.score(features_valid, target_valid) # значение метрики Accuracy на валидационной выборке
        if result > f_best_result:
            best_forest_model = f_model
            f_best_result = result
            best_est = est

print("Accuracy наилучшей модели случайного леса на валидационной выборке:", f_best_result, ", количество деревьев:", best_est, ", глубина древа:", optimal_depth)

Accuracy наилучшей модели случайного леса на валидационной выборке: 0.941 , количество деревьев: 48 , глубина древа: 12

In [9]:
dtc = DecisionTreeClassifier(random_state=12345)
parametrs_dtc = {'max_depth': range (1,15, 1),
              'min_samples_leaf': range (1,8),
              'min_samples_split': range (2,10,2)
                }
grid_dtc = GridSearchCV(dtc, parametrs_dtc, cv=5)
grid_dtc.fit(features_train, target_train)
best_tree_model = grid_dtc.best_estimator_
best_tree_model.fit(features_train,target_train)
result = best_tree_model.score(features_valid, target_valid)
print(f'Accuracy наилучшей модели решающего дерева на валидационной выборке: = {result}')

Accuracy наилучшей модели решающего дерева на валидационной выборке: = 0.866

In [10]:
rfc = RandomForestClassifier(random_state=12345)
parametrs_rfc = {'n_estimators': range(40,60, 2),
                 'max_depth': range (6,12, 1)
                }
grid_rfc = GridSearchCV(rfc, parametrs_rfc, cv=5)
grid_rfc.fit(features_train, target_train)
best_forest_model = grid_rfc.best_estimator_
best_forest_model.fit(features_train,target_train)
result = best_forest_model.score(features_valid, target_valid)
print(f'Accuracy наилучшей модели решающего дерева на валидационной выборке: = {result}')

Accuracy наилучшей модели решающего дерева на валидационной выборке: = 0.9018

In [11]:

l_model = LogisticRegression(random_state=12345, solver='lbfgs')
l_model.fit(features_train, target_train) # обучение модель на тренировочной выборке
result = l_model.score(features_valid,target_valid) # значение метрики Accuracy на валидационной выборке

print(f'''Accuracy наилучшей модели логистической регрессии на валидационной выборке: {result}''')

Accuracy наилучшей модели логистической регрессии на валидационной выборке: 0.791

Оценим полученные результаты на вменяемость

In [12]:
val=[]  #Создадим и проверим на accuracy серию с 0 значением во всех ячейках серии
for i in range(len(target)):
    val.append(0)
target_pred_constant = pd.Series(val)

print(accuracy_score(target, target_pred_constant))

0.7963

Результат на вменяемость показывает, что модели стоит проверить по параметрам F1, AUC_ROC, MAE, чтобы оценить их работу

In [13]:
list_mod = [best_tree_model,best_forest_model,l_model]
for mod in list_mod:
    predicted_valid = mod.predict(features_valid)
    indic=str(mod).find('(')
    print(f'''
    F1 модели {str(mod)[:indic]}: {f1_score(target_valid, predicted_valid)}
    ''')
    print(f'''AUC_ROC модели {str(mod)[:indic]}: {roc_auc_score(target_valid,predicted_valid)}
    ''')
    print(f'''MAE модели {str(mod)[:indic]}: {mean_absolute_error(target_valid,predicted_valid)}''')

    F1 модели DecisionTreeClassifier: 0.5754119138149556

AUC_ROC модели DecisionTreeClassifier: 0.7098709799829239

MAE модели DecisionTreeClassifier: 0.134

    F1 модели RandomForestClassifier: 0.6894370651486401

AUC_ROC модели RandomForestClassifier: 0.7656986212566804

MAE модели RandomForestClassifier: 0.0982

    F1 модели LogisticRegression: 0.09680207433016422

AUC_ROC модели LogisticRegression: 0.5168913844353793

MAE модели LogisticRegression: 0.209

### Вывод:
Показатели моделей по параметрам F1, AUC_ROC, MAE для решающего дерева и случайного леса достаточно высокие, но стоит оценить баланс в данных

## Борьба с дисбалансом

В данных кредитный рейтинг, возраст, баланс и суммы повторяющихся выплат сильно выбиваются от остальных данных, стандартизируем велечины.

In [14]:
numeric = ['credit_score', 'age', 'balance', 'estimated_salary'] #список стандартизируемых столбцов
scaler = StandardScaler()
pd.options.mode.chained_assignment = None

scaler.fit(features_train[numeric]) # обучение и транчформация обучающих, валидационных и тестовых наборов признаков
features_train[numeric] = scaler.transform(features_train[numeric])
features_valid[numeric] = scaler.transform(features_valid[numeric])
features_test[numeric] = scaler.transform(features_test[numeric])

Проверим количество уходящих и остающихся клиентов в выборке

In [16]:
print('количество записей с exited = 0:', df_ohe.query('exited == 0').exited.count())
print('количество записей с exited = 1:', df_ohe.query('exited == 1').exited.count())

количество записей с exited = 0: 7963
количество записей с exited = 1: 2037

Отношение равно примерно 4:1, попробуем и оценим методы сокращения выборки с записью 0 в классе exited и увеличения выборки с записью 1 в классе exited

In [17]:
def downsample(features, target, fraction): #функция уменьшения семпла данных
    features_zeros = features[target == 0]
    features_ones = features[target == 1]
    target_zeros = target[target == 0]
    target_ones = target[target == 1]

    features_downsampled = pd.concat(
        [features_zeros.sample(frac=fraction, random_state=12345)] + [features_ones])
    target_downsampled = pd.concat(
        [target_zeros.sample(frac=fraction, random_state=12345)] + [target_ones])
    
    features_downsampled, target_downsampled = shuffle(
        features_downsampled, target_downsampled, random_state=12345)
    
    return features_downsampled, target_downsampled

features_downsampled, target_downsampled = downsample(features_train, target_train, 0.41) #Подбирал в ручную, можно автоматизировать, но задача ограниченая в размере
best_forest_model.fit(features_downsampled, target_downsampled)
predicted_valid = best_forest_model.predict(features_valid)

def display_f1_auc_mae(target, predicted, text): #функция вывода характеристик обученной модели
    print(f''' {text}
accuracy модели best_forest_model: {accuracy_score(target, predicted)}''')
    print(f'''
F1 модели best_forest_model: {f1_score(target, predicted)}
    ''')
    print(f'''AUC_ROC модели best_forest_model: {roc_auc_score(target,predicted)}
    ''')
    print(f'''MAE модели best_forest_model: {mean_absolute_error(target,predicted)}''')
    
display_f1_auc_mae(target_valid, predicted_valid,'После выравнивания классов')

 После выравнивания классов
accuracy модели best_forest_model: 0.9026

F1 модели best_forest_model: 0.772110435189518

AUC_ROC модели best_forest_model: 0.868855342630364

MAE модели best_forest_model: 0.0974

In [18]:
def upsample(features, target, repeat): #функция увеличения семпла данных
    features_zeros = features[target == 0]
    features_ones = features[target == 1]
    target_zeros = target[target == 0]
    target_ones = target[target == 1]

    features_upsampled = pd.concat([features_zeros] + [features_ones] * repeat)
    target_upsampled = pd.concat([target_zeros] + [target_ones] * repeat)
    
    features_upsampled, target_upsampled = shuffle(
        features_upsampled, target_upsampled, random_state=12345)
    
    return features_upsampled, target_upsampled

features_upsampled, target_upsampled = upsample(features_train, target_train, 3)  #Подбирал в ручную, можно автоматизировать, но задача ограниченая в размере
best_forest_model.fit(features_upsampled, target_upsampled)
predicted_valid = best_forest_model.predict(features_valid)

display_f1_auc_mae(target_valid, predicted_valid, 'После выравнивания классов')

 После выравнивания классов
accuracy модели best_forest_model: 0.9298

F1 модели best_forest_model: 0.8310062590274435

AUC_ROC модели best_forest_model: 0.8998553268190874

MAE модели best_forest_model: 0.0702

### Вывод:
Стандартизировал данные и убрал дисбаланс классов, выравнивание баланса классов за счет уменьшения выборки в данном случае показало себя лучше.

## Тестирование модели

In [19]:
predicted_test = best_forest_model.predict(features_test)

display_f1_auc_mae(target_test, predicted_test,'Результат модели на тестовой выборке')

 Результат модели на тестовой выборке
accuracy модели best_forest_model: 0.8568

F1 модели best_forest_model: 0.6493633692458374

AUC_ROC модели best_forest_model: 0.7796955071914032

MAE модели best_forest_model: 0.1432

### Вывод:
Проведя тестирование лучшей модели случайного леса классификации получили достаточно высокий показатель точности предсказания F1 = 0.6683, достигнув цели проекта получиить показатель F1 > 0.59

Исследуя ROC_AUC характеристики, прослеживается прямая корреляция с F1 параметром и обратная корреляция с MAE.

## Общий вывод:
Проверив модели решающего дерева, случайного леса и логистической регресси, получили оптимальную модель случайного леса как наиболее точную, проверив модели на адекватность исправили дисбалансс классов сета данных и стандартизировали признаки, увеличили точность предсказаний, что оценили по показателям параметров F1, AUC_ROC, MAE.
Задача по получению точности параметра F1 модели > 0.59 выполнена.